body {
  background: rgb(12, 166, 141);
  background: linear-gradient(
    0deg,
    rgba(12, 166, 141, 1) 5%,
    rgba(12, 91, 166, 1) 100%
  );
}

.form-control {
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control:focus {
  border-color: rgba(12, 91, 166, 1);
  outline: 0;
  -webkit-box-shadow: 0 0 3px rgba(12, 91, 166, 0.75),
    0 0 18px rgba(12, 166, 141, 0.6);
  box-shadow: 0 0 3px rgba(12, 91, 166, 0.75), 0 0 18px rgba(12, 166, 141, 0.6);
}

.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
  background-color: rgba(12, 166, 141, 0.3);
  color: #000000;
}

.btn--clear {
  background-color: rgb(12, 166, 141);
  color: #ffff;
}

.btn--clear:hover {
  background-color: rgb(12, 91, 166);
  color: #ffff;
}
